footer {
    background-color: rgb(223, 217, 217);
    width: 100%;
    margin-top: 0px;
    
  }

  footer div a,
  footer p {
    color: gray;
    text-decoration: none;
  }
  .sub:hover{
    background-color: rgb(165, 165, 194);
  }
 
   .navlink{
        color: rgb(139, 139, 139);
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlinkactive{
        color: black;
        text-decoration: none;
        margin-right: 65px;
        font-size: 20px;
      }
      .navlink:hover{
        color: rgb(185, 162, 162);
      }
      .navlinkactive:hover{
        color: rgb(185, 162, 162);;
      }
  table{
      border-collapse: collapse;
      border: 1px solid black;
      /* width: 100px; */
  }
  
  th{
    background-color: #a1a1a1;
    
  }
  td, th {
      border: 1px solid #363535;
      text-align: left;
      
  }
  
  
  input[type=text], input[type=number] ,select,input[type=date] { 
      width: 97%;
      padding: 12px 20px;
      margin: 9px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: transparent;
      color: #ccc;
  }
  select option{
    color: #000;
  }
  label{
    color:aliceblue ;
  }
  input[type=submit]{
      width: 150px;
      background-color: #ddd;
      color: #000;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  form div.form-action-buttons{
      text-align: center;
  }
  
  a{
      cursor: pointer;
      text-decoration: underline;
      color: #0000ee;
      margin-right: 4px;
  }
  
  label.validation-error{
      color:   red;
      margin-left: 5px;
  }
  
  .hide{
      display:none;
  }